
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <title>OpenLayers 2 with GeoServer</title>
    <script type="text/javascript"
            src="https://maps.googleapis.com/maps/api/js?v=3&key=AIzaSyCI1u8In4d8X7EvY3JnccNAPr5q8zELAck"></script>
    <script src="http://dev.openlayers.org/OpenLayers.js"></script>
    <script src="~/JavaScript/jquery-3.1.1.min.js"></script>
    <script src="~/JavaScript/MyJS.js"></script>
</head>
<body onload="init()">
    <div style="font-size:30px;text-align:center;font-family:sans-serif;margin-bottom:10px;">OpenLayers 2</div>
    <div id="map" style="width:80%;height:520px;margin-left:10%;"></div>
    <div id="info">
    </div>
</body>
</html>